{% extends 'base.html.twig' %}

{% block title %}Novo Contato{% endblock %}

{% block content %}
    <div class="container mt-4"> {# Adicionando uma margem no topo para espaçamento #}
        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.nome, 'Nome completo', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nome, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.cpf, 'CPF', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.cpf, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.telefone, 'Telefone', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.telefone, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
